<div class="m-auto">
    <p class="text-center text-small">
        Final Group Project for COMP 229 Web Application @ Centennial College
    </p>
    <p class="text-center text-small">
        Version: {{ environment.version || '' }} <nz-divider nzType="vertical"></nz-divider> Sec 002 Group 4 <nz-divider nzType="vertical"></nz-divider> Copyright &copy; 2023 <nz-divider nzType="vertical"></nz-divider> Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
    </p>
</div>