<div class="m-auto">
    <div nz-row nzGutter="0" nzAlign="middle">
        <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
            <img routerLink="/" class="img-responsive pointer logo" src="/assets/cansurvey-logo.jpg" alt="Logo">
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="16" nzLg="16" nzXl="16" class="text-right">
            <button *ngIf="!auth?.user" (click)="register()" class="m-r-10" nz-button nzType="text">
                <span nz-icon nzType="carry-out" nzTheme="outline"></span> Register
            </button>
            <button *ngIf="!auth?.user" (click)="login()" class="m-r-10" nz-button nzType="text">
                <span nz-icon nzType="login" nzTheme="outline"></span> Login
            </button>
            <button *ngIf="auth?.user" routerLink="/" class="m-r-10" nz-button nzType="text">
                <span nz-icon nzType="home" nzTheme="outline"></span> Home
            </button>
            <button *ngIf="auth?.user" routerLink="/dashboard" class="m-r-10" nz-button nzType="text">
                <span nz-icon nzType="dashboard" nzTheme="outline"></span> Dashboard
            </button>
            <button *ngIf="auth.user" routerLink="/manage-users" class="m-r-10" nz-button nzType="text" [disabled]="auth.userProfile?.role != 'admin'">
                <span nz-icon nzType="user" nzTheme="outline"></span> Users
            </button>
            <button *ngIf="auth?.user" (click)="logout()" class="m-r-10" nz-button nzType="text">
                <span nz-icon nzType="logout" nzTheme="outline"></span> Logout
            </button>
        </div>
    </div>
</div>
