<div class="m-auto">
    <div nz-row nzGutter="0" nzAlign="middle">
        <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
            <img routerLink="/" class="img-responsive pointer logo" src="/assets/cansurvey-logo.jpg" alt="Logo">
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="16" nzLg="16" nzXl="16" class="text-right">
            <button class="m-r-10" nz-button nzType="text">
                <i nz-icon nzType="login" nzTheme="outline"></i> Login
            </button>
            <button class="m-r-10" nz-button nzType="text">
                <i nz-icon nzType="login" nzTheme="outline"></i> Register
            </button>
        </div>
    </div>
</div>
