<div nz-row *ngIf="form">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
        <img src="assets/login.png" class="img-responsive" alt="Login with CanSurvey" />
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
        <form nz-form [formGroup]="form" nzLayout="vertical">
            <nz-form-item>
                <nz-form-label [nzXs]="24" nzRequired>Email</nz-form-label>
                <nz-form-control [nzXs]="24" nzHasFeedback [nzErrorTip]="'Incorrect email format'">
                    <input nz-input nzSize="large" formControlName="email" placeholder="Email" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzXs]="24" nzRequired>Password</nz-form-label>
                <nz-form-control [nzXs]="24" nzHasFeedback [nzErrorTip]="'Please enter a 8 digits password'">
                    <input nz-input nzSize="large" formControlName="password" type="password" placeholder="Password" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <button class="m-b-10" type="button" nz-button nzSize="large" nzBlock [nzLoading]="isLoading" nzType="primary" [disabled]="form.invalid" (click)="submit()">Login</button>
                <button class="m-b-10" type="button" nz-button nzSize="large" nzBlock [nzLoading]="isLoading" nzType="default" (click)="cancel()">Cancel</button>
            </nz-form-item>
        </form>
    </div>
</div>