<app-header></app-header>
<div class="m-auto page">
    <app-slider></app-slider>
    <section class="m-t-10">
        <h3>Existing Survey <span class="text-small">(Ordered by created date)</span></h3>
        <div *ngIf="((surveys$ | async) || []) as surveys" nz-row nzGutter="8">
            <div *ngFor="let survey of surveys;" nz-col [nzSpan]="24">
                <nz-card class="w-100 m-b-10" nzHoverable [routerLink]="'/survey/' + survey?.id">
                    <div nz-row nzGutter="8">
                      <div nz-col [nzXs]="24" [nzSm]="16" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                        <img class="img-responsive center-block" [src]="'/assets/cansurvey-logo.jpg'" />
                      </div>
                      <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1"></div>
                      <div nz-col [nzXs]="24" [nzSm]="15" [nzMd]="15" [nzLg]="19" [nzXl]="19">
                        <h2>{{ survey?.title || "Untitled title" }}</h2>
                        <p>{{ survey?.desc || "" }}</p>
                        <div nz-row nzGutter="8">
                            <div nz-col  [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12">
                                <nz-statistic [nzValue]="((survey?.questions?.length || 0) | number)!" [nzTitle]="'Total Question'"></nz-statistic>
                            </div>
                            <div nz-col  [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12">
                                <nz-statistic [nzValue]="(survey?.createdTime?.toDate() | date:'mediumDate') || ''" [nzTitle]="'Created on'"></nz-statistic>
                            </div>
                        </div>
                      </div>
                    </div>
                </nz-card>
            </div>
            <div *ngIf="surveys.length == 0" nz-col nzSpan="24" class="text-center">
                <nz-empty nzNotFoundContent="Please login to add more survey"></nz-empty> 
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>