
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

.m-auto {
    max-width: 1000px;
    margin: 0 auto;
}

.page {
    min-height: 800px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.img-responsive {
    width: auto;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-small {
    font-size: @font-size-base - 4px;
}